$messagecolor: blue;
$timecolor: green;
$bgcolor: powderblue;

body {
    background-color: $bgcolor;
}

#message {
    color: $messagecolor;
    font-size: 3em;
    text-align: center;
}

#current-time {
    color: $timecolor;
    font-size: 3em;
    text-align: center;
}